USE [master]
GO
/****** Object:  Database [CAR]    Script Date: 2023/6/12 上午 11:20:22 ******/
CREATE DATABASE [CAR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CAR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CAR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAR]
GO
/****** Object:  Table [dbo].[Benz]    Script Date: 2023/6/12 上午 11:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Benz](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Money] [int] NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Benz] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BMW]    Script Date: 2023/6/12 上午 11:20:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BMW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Money] [int] NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BMW] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Benz] ON 

INSERT [dbo].[Benz] ([ID], [Model], [Money], [Image]) VALUES (1, N'Mercedes-AMG C 63 4MATIC', 382000, N'C43.jpg')
INSERT [dbo].[Benz] ([ID], [Model], [Money], [Image]) VALUES (2, N'CLA 250 Coupel', 2410000, N'cla250.jpg')
INSERT [dbo].[Benz] ([ID], [Model], [Money], [Image]) VALUES (3, N'GLC 300 4MATIC Coupé', 3120000, N'glc300.jpg')
SET IDENTITY_INSERT [dbo].[Benz] OFF
GO
SET IDENTITY_INSERT [dbo].[BMW] ON 

INSERT [dbo].[BMW] ([ID], [Model], [Money], [Image]) VALUES (1, N'BMW 320i', 2130000, N'318.jpg')
INSERT [dbo].[BMW] ([ID], [Model], [Money], [Image]) VALUES (2, N'BMW M5', 500000, N'm5.jpg')
INSERT [dbo].[BMW] ([ID], [Model], [Money], [Image]) VALUES (3, N'BMW X6 xDrive40i', 3730000, N'X6.jpg')
SET IDENTITY_INSERT [dbo].[BMW] OFF
GO
USE [master]
GO
