
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CARLayout.cshtml";
}

<div class="jumbotron">
    <h1>.NET 期末特賣會</h1>
    <p class="lead">.NET期末大降價，歡迎參觀我們的網站，選購您心儀的Benz和BMW！</p>
    <a href="~/CAR/Benz" class="btn btn-primary btn-lg">賓士 &raquo;</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="~/CAR/BMW" class="btn btn-primary btn-lg">BMW &raquo;</a>
</div>

